.idea/
.vscode/
vs/
.venv/
venv/
build
checkpoints/
pre-trained/
models/
models/**/*.pt
models/**/*.pth
models/*.pt
models/*.pth
logs/
dataset/**/*.tar.gz
dataset/**/*.zip
dataset/MNIST/
dataset/cifar-10-batches-py/
dataset/augmented_data/
dataset/processed_data/